@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://db.onlinewebfonts.com/c/03bd7255184e8e8ad4d2a521fa920b6c?family=PolySans+Neutral");

@font-face {
  font-family: "Uni Burma";
  src: url("../../fonts/UniBurma002-Light.ttf");
}

/* :root {
    --dvh: 100dvh;
  }
  
  @supports (height: 100dvh) {
    :root {
      --dvh: 100dvh;
    }
  }
  
  .h-dvh {
    height: var(--dvh);
  } */

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, and Opera */
}

/* Optional: Prevent scrolling when scrollbar is hidden */
body {
  overflow: hidden; /* Disable scrolling */
}

/* If you want to allow scrolling but hide the scrollbar */
body {
  overflow: auto; /* Allow scrolling */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
