@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.main {
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.body {
  width: 95%;
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}

.body p {
  margin-bottom: 10px;
  margin-right: 1.5vw;
  letter-spacing: -0.04em;
  font-family: "Instrument Sans", sans-serif;
}

.body span {
  opacity: 0.6;
}
